

<h1>Edit User</h1>

<form action="/users/{{ user.id }}/edit/edited" method="post">
    <div>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname" value="{{ user.firstname }}">
    </div>
    <div>
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" value="{{ user.lastname }}">
    </div>
    <div>
      <label for="image_url">Image URL:</label>
      <input type="text" id="image_url" name="image_url" value="{{ user.image_url }}">
    </div>
  <a href="/users">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

