{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block content %}
<h1>User Details</h1>

<div>
  <h2>{{ user.firstname }} {{ user.lastname }}</h2>
  <img src="{{ user.image_url }}" alt="User Image" style="height: 100px;">
  <div>
    <p><a href="/users/{{ user.id }}/edit">Edit</a></p>
    <form action="/users/{{ user.id }}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
  </div>
  <h3>Posts</h3>
  {% if user.posts %}
  <ul>
    {% for post in user.posts %}
    <li><a href="posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No posts yet</p>
  {% endif %}
</div>
<a href="/users/{{ user. id }}/posts/new">Add post</a>
{% endblock %}
